<div class="choose-us-container">
    <h1>Why Choose Us?</h1>
    <p>A large part of our role is choosin Lorem ipsum dolor sit amet,<br> consectetuer adipiscing elit. Aenean commodo ligula <br>eget dolor. Aenean massa.</p>
  
    
</div>
<div class="box-container">
    <div class="box">
      <img src="https://lifeboostcoffee.com/cdn/shop/articles/1445732_Highelevationcoffeebeans_NoLogo_SteamingCupOfCoffee4_090222.jpg?v=1664805147" alt="Image 1">
      <h2>Best Quality</h2>
      <p>Lorem ipsum dolor sit amet,<br> consectetuer adipiscing<br> elit.</p>
    </div>
    <div class="box">
      <img src="https://lifeboostcoffee.com/cdn/shop/articles/1445732_Highelevationcoffeebeans_NoLogo_SteamingCupOfCoffee4_090222.jpg?v=1664805147" alt="Image 2">
      <h2>Exclusive Benefits</h2>
      <p>Lorem ipsum dolor sit amet,<br> consectetuer adipiscing<br> elit.</p>
    </div>
    <div class="box">
      <img src="https://lifeboostcoffee.com/cdn/shop/articles/1445732_Highelevationcoffeebeans_NoLogo_SteamingCupOfCoffee4_090222.jpg?v=1664805147" alt="Image 3">
      <h2>Free Shipping</h2>
      <p>Lorem ipsum dolor sit amet,<br> consectetuer adipiscing<br> elit.</p>
    </div>
  </div>
  