<div class="collection-container">
    <div class="background-text">Our Collection</div>
  
    <div class="image-container">
      <!-- Add your image paths and adjust styling as needed -->
      <div class="coffee-bag-image" style="background-image: url('https://media.istockphoto.com/id/538780890/vector/coffee-bean-in-brown-paper-bag-packaging.jpg?s=612x612&w=0&k=20&c=WHNT9EbTrWwZRBGd8eR-NLjDNx3ShxjeUdaWu6FvYZI=')"></div>
      <div class="coffee-bag-image" style="background-image: url('https://media.istockphoto.com/id/538780890/vector/coffee-bean-in-brown-paper-bag-packaging.jpg?s=612x612&w=0&k=20&c=WHNT9EbTrWwZRBGd8eR-NLjDNx3ShxjeUdaWu6FvYZI=')"></div>
      <div class="coffee-bag-image" style="background-image: url('https://media.istockphoto.com/id/538780890/vector/coffee-bean-in-brown-paper-bag-packaging.jpg?s=612x612&w=0&k=20&c=WHNT9EbTrWwZRBGd8eR-NLjDNx3ShxjeUdaWu6FvYZI=')"></div>
      <div class="coffee-bag-image" style="background-image: url('https://media.istockphoto.com/id/538780890/vector/coffee-bean-in-brown-paper-bag-packaging.jpg?s=612x612&w=0&k=20&c=WHNT9EbTrWwZRBGd8eR-NLjDNx3ShxjeUdaWu6FvYZI=')"></div>
    </div>
  
    <div class="details-container">
      <div class="item">
        <h2>Gran Espresso</h2>
        <p>Light and flavorful blend with <br>cocoa and sweet <br> undertones.</p>
      </div>
      <div class="item">
        <h2>Planalto</h2>
        <p>Light and flavorful <br> blend with  cocoa and  <br>sweet undertones.</p>
      </div>
      <div class="item">
        <h2>Piccolo</h2>
        <p>Light and flavorful  <br>blend with cocoa  <br>and sweet undertones.</p>
      </div>
      <div class="item">
        <h2>Danche</h2>
        <p>Light and flavorful  <br>blend with cocoa and  <br>sweet undertones.</p>
      </div>
    </div>
  </div>
  